/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1.5px solid #ccc;
}

.header .logo {
  height: 75px;
  width: auto;
}

/* To-Do List Container */
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.todo-container h1 {
  margin: 0;
  font-size: 24px;
  color: #81677D;
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

#todo-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
}

#todo-form button {
  padding: 10px 15px;
  background-color: #81677D;
  color: #ffffff;
  border: 2px solid #81677D;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#todo-form button:hover {
  background-color: #ffffff;
  color: #81677D;
  border-color: #81677D;
}

/* To-Do List Styles */
ul#todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px; /* Matching the width of the text input field */
}

ul#todo-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

ul#todo-list li.completed span {
  text-decoration: line-through;
}

ul#todo-list li input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #81677D;
}

ul#todo-list li span {
  flex: 1;
}

ul#todo-list li button {
  background-color: #81677D;
  border: 2px solid #81677D;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

ul#todo-list li button:hover {
  background-color: #ffffff;
  color: #81677D;
  border-color: #81677D;
}
